[Desktop Entry]
Name=Store Cards
Comment=Keep your Store Cards on your computer.
Exec=storecards
Terminal=false
StartupNotify=false
Type=Application
Icon=/usr/share/pixmaps/storecards/storecards.png
Categories=Utility;
X-Purism-FormFactor=Workstation;Mobile;
